
.desk {
	margin: 5% 0;
	padding: 25px;
	background-color: lightyellow;
}

.coast {
	text-align: start;
	font-size: 18px;
	font-weight: bold;
	span {
		padding-left: 5%;
		font-size: 14px;
		font-weight: normal;
	}
}

.description {
	margin: 0;
	padding-left: 5%;
	font-size: 18px;
	font-weight: bold;
}

